<div class="contenaire_bleu">
  <header>
    <div class="about">
      <ul>
        <li><a href="#">I am an applicant</a></li>
        <li><a href="#">API & Docs</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </div>
    <div class="navbar">
        <span id="logo">Checkr</span>
        <div class="dropdown">
  <button class="dropbtn">Product</button>
  <div class="dropdown-content">
    <a href="#">Overview</a>
    <a href="#">Screenings</a>
    <a href="#">Compliance</a>
    <a href="#">Security</a>
  </div>
  </div>
  <div class="dropdown">
<button class="dropbtn">Industries</button>
<div class="dropdown-content">
<a href="#">Overview</a>
<a href="#">Staffing</a>
<a href="#">Manufacturing</a>
<a href="#">Small Business</a>
</div>
</div>
<div class="dropdown">
<button class="dropbtn">Ressources</button>
<div class="dropdown-content">
<a href="#">Overview</a>
<a href="#">Guides & White Paper</a>
<a href="#">FAQ</a>
</div>
</div>
<div class="login"><a href="#">LOG IN</a></div>
<button class="start">GET STARTED</button>
</div>
  </header>
  <video id="demo-vid_html5_api" class="vjs-tech" autoplay="" loop="" preload="auto" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" data-setup="{}">
                             <source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
                             <source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" type="video/webm">
                             <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" width="606" height="634">
                         </video>
  <div class="slogan">
    <aside>
      <h1>HIRE GREAT PEOPLE.<br/ >FASTER.</h1>
      <h2>Checkr provides modern and compliant background<br />
        checks for global enterprises and startups</h2>
        <button class="explore">EXPLORE NOW</button>
    </aside>
  </div>
</div>


<p>j'aime le tennis</p>
