<header>
  <div class="navbar">
  <span id="logobis">Flynn</span>
    <a href="#">About</a>
    <a href="#">API & Docs</a>
    <a href="#">About Us</a>
    <a href="#">Careers</a>
    <button class="try">Try</button>
</div>
</header>

<h1></h1>
